.vscode
*.dat
*.exe
*.dll
*.idb
*.id0
*.id1
*.id2
*.nam
*.til
*.o
*.out
*.elf
*.dol
*.a
*.d
*.map
*.exe
*.dump
*.7z
*.bat
*.sln
*.filters
*.vcxproj
*.user
include/*.s

build/
tools/mwcc_compiler/
GC/
decomp/
errors.txt
output.asm
Debug/
.vs/

ctx.c
tools/findlabels.py
build.ninja
out/main.dol
